<div class="col-md-12 search-box" ng-controller="filterController">	
	<form class="form-inline text-center" role="form">
		<div class="form-group inline-form-grp">
			<label for="location">Location:</label>
			<input type="text" class="form-control" data-provide="typeahead" id="rest_name" autocomplete="off">
		</div>
		<div class="form-group inline-form-grp">
			<label for="location">Type of Salon:</label>
			<select name="type" ng-model="user.salontype" ng-options="salontype.id as salontype.desc for salontype in salontypes" class="form-control">
				<option value="">Please select one option</option>
			</select>
		</div>
		<div class="form-group inline-form-grp">
			<label for="location">Salon Name</label>
			<input type="text" class="form-control"/>
		</div>
		<div class="form-group" style="margin-top:1%;">
			<button type="submit" class="btn">Search Salons</button>
		</div>
	</form>
</div>
<div class="col-md-12" style="margin-top:1%;">
	<div class="col-md-2 no-padding">
		<div class="col-md-12">
			<h4 style="margin-top:0;">Sort By</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" id="review" value="option1"> Most Reviewed
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="feature" value="option2"> Popular Salon
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="highprice" value="option3"> Price: High to Low
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="lowprice" value="option4"> Price: Low to High
			</label>
		</div>
		<div class="col-md-12">
			<h4>Branches</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" value="option1"> BTM
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" value="option2"> Bellandur
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox"  value="option3"> Sarjapur
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" value="option4"> HSR Layout
			</label>
		</div>
	</div>
	<div class="col-md-10 pg-details-list" ng-controller="filterSalonController">
		<div class="col-md-4">
			<div id="sync1" class="owl-carousel">
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
			</div>
			<div id="sync2" class="owl-carousel">
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
				<div class="item"><%= image_tag ('salon1.jpg'),:class=>"img-responsive" %></div>
			</div>
		</div>
		<div class="col-md-8" ng-repeat="salon in salonDetails">
			<a href="#" ng-click="gotoSalonDetails(salon.id)">
				<h4 style="margin-top:0;">Salon in your searched locality</h4>
				<div class="col-md-6 no-padding">
					<div class="pg-name">
						<label>Name</label>
						<p>{{salon.salonname}}</p>
					</div>
					<div class="address">
						<label>Address</label>
						<p>{{salon.salonaddress}}</p>
					</div>
					<div class="review-link" id="scrollArea" ng-controller="ScrollCtrl">
						<a href="#" class="write">Write Review</a>
						<a ng-click="gotoElement('rest-review-details')" href="#" class="read">Read Reviews</a>
					</div>
				</div>
			</a>
			<div class="col-md-6 no-padding pull-right">
				<div class="rent pull-left">
					<label>Contact Info</label>
					<div class="amount">
						<span>{{salon.phone}}</span>
					</div>
				</div>
				<div class="pull-right" style="margin-right:40%;">
					<label>Type</label>
					<div class="security-amount">
						<span>{{salon.gender}}</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="time">
					<p>Rating : 3.5*</p>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-controller="reviewController">
			<h3>Reviews by the User</h3>
			<div class="col-md-12 review-wrapper" ng-repeat="reviewDetail in reviewDetails | limitTo:quantity" id="rest-review-details">
				<div class="col-md-1">
					<img ng-src='/assets/{{reviewDetail.img}}'class="img-responsive center-block"/>
				</div>
				<div class="col-md-11">
					<p>{{reviewDetail.name}}&nbsp;| Followers ({{reviewDetail.followers}})</p>
					<p>{{reviewDetail.review}}</p>
				</div>
			</div>
			<a href="#">More Reviews &nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
	  var sync1 = $("#sync1");
	  var sync2 = $("#sync2");
	 
	  sync1.owlCarousel({
	    singleItem : true,
	    slideSpeed : 1000,
	    navigation: true,
	    pagination:false,
	    afterAction : syncPosition,
	    responsiveRefreshRate : 200,
	  });
	 
	  sync2.owlCarousel({
	    items : 4,
	    itemsDesktop      : [1199,10],
	    itemsDesktopSmall     : [979,10],
	    itemsTablet       : [768,8],
	    itemsMobile       : [479,4],
	    pagination:false,
	    responsiveRefreshRate : 100,
	    afterInit : function(el){
	      el.find(".owl-item").eq(0).addClass("synced");
	    }
	  });
	 
	  function syncPosition(el){
	    var current = this.currentItem;
	    $("#sync2")
	      .find(".owl-item")
	      .removeClass("synced")
	      .eq(current)
	      .addClass("synced")
	    if($("#sync2").data("owlCarousel") !== undefined){
	      center(current)
	    }
	  }
	 
	  $("#sync2").on("click", ".owl-item", function(e){
	    e.preventDefault();
	    var number = $(this).data("owlItem");
	    sync1.trigger("owl.goTo",number);
	  });
	 
	  function center(number){
	    var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
	    var num = number;
	    var found = false;
	    for(var i in sync2visible){
	      if(num === sync2visible[i]){
	        var found = true;
	      }
	    }
	 
	    if(found===false){
	      if(num>sync2visible[sync2visible.length-1]){
	        sync2.trigger("owl.goTo", num - sync2visible.length+2)
	      }else{
	        if(num - 1 === -1){
	          num = 0;
	        }
	        sync2.trigger("owl.goTo", num);
	      }
	    } else if(num === sync2visible[sync2visible.length-1]){
	      sync2.trigger("owl.goTo", sync2visible[1])
	    } else if(num === sync2visible[0]){
	      sync2.trigger("owl.goTo", num-1)
	    }
	    
	  }
	 
});
</script>