<div class="container review" ng-controller="reviewController">
	<h3>Reviews by the User</h3>
	<div class="col-md-12 review-wrapper" ng-repeat="reviewDetail in reviewDetails | limitTo:limit" id="review-details">
		<div class="col-md-1">
			<img ng-src='/assets/{{2}}'class="img-responsive center-block"/>
		</div>
		<div class="col-md-11">
			<p><a href="<%followuser_path%>">{{reviewDetail.user}}</a>&nbsp;| Followers ({{reviewDetail.followers}})</p>
			<p>{{reviewDetail.wrev.likes}}</p>
			<a href="#"><i class="fa fa-thumbs-up"></i>&nbsp;Like</a>
			<a href="#" style="margin-left:1%;"><i class="fa fa-thumbs-down"></i>&nbsp;Dislike</a>
			<a href="#" style="margin-left:1%;" ng-click="commentbox = ! commentbox"><i class="fa fa-comment"></i>&nbsp;Comment</a>
			<a href="#" style="margin-left:1%;"><i class="fa fa-check"></i>&nbsp;Recommend</a>
			<input type="text" class="form-control" ng-show="commentbox" style="width:32%;margin-top:1%;"/>
		</div>
	</div>
	<a ng-click="loadMore()" style="cursor:pointer">More Reviews &nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
</div>