<div class="container">	
	<div class="col-md-12">
		<h3>Sharing PG for Ladies</h3>
		<div class="col-md-7 no-padding">
			<div class="col-md-12 no-padding">
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-1.jpg"), :class=>"img-responsive" %>
				</div>
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-2.jpg"), :class=>"img-responsive" %>
				</div>
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-2.jpg"), :class=>"img-responsive" %>
				</div>
			</div>
			<a id="modal-876258" href="#modal-container-876258" role="button" class="btn" data-toggle="modal" data-target=".pg-modal-lg">Show more Photos&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
			<h4>Description</h4>
			<p class="pg-description">The PG belongs to sukumar and is located in BTM Layout, 8, Outer Ring Rd, KEB Colony, Stage 1, Bengaluru, Karnataka 560029, India. This Paying Guest is available for Student, Working on Sharing basis. The PG comes with all the needful amenities such as WIFI, Washing Machine, Television, Geyser, Bed, Cupboard, Fan, Modular Kitchen, Western Toilet. Parking, 24 Hours Water Supply, Power Backup are the other services that the PG residents can avail. There are certain guidelines for the paying guests such as Entry Time 12:00 AM. The rent of the PG is Rs.4,500 and Deposit is Rs.2,000</p>
			<div class="col-md-12 no-padding" ng-controller="filterPgController">
				<div class="col-md-4" style="padding-left:0;">
					<h4>PG Amenities</h4>
					<ul ng-repeat="amenity in filteredPg" class="amenities list-unstyled" id="amenity">
						<li>{{amenity}}</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>PG Services</h4>
					<ul class="services list-unstyled" id="service">
						<li>Security</li>
						<li>Parking</li>
						<li>Lift</li>
						<li>Power Backup</li>
					</ul>
				</div>
				<div class="col-md-4" style="padding-right:0;">	
					<h4>Nearby Places</h4>
					<ul class="nearby list-unstyled" id="nearby">
						<li>Restaurant</li>
						<li>Gym</li>
						<li>Hospital</li>
						<li>Shopping Mall</li>
						<li>ATM</li>
						<li>Transportation</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-md-offset-1 pg-details-list">
			<div class="pg-name">
				<label>Name of the owner</label>
				<p><%=@pgresults.pgname%></p>
			</div>
			<div class="pg-name">
				<label>Contact owner</label>
				<p><i class="fa fa-phone"></i>&nbsp;<%=@pgresults.phone1%></p>
			</div>
			<div class="address">
				<label>Address</label>
				<p><%=@pgresults.pgadress%></p>
			</div>
			<div class="review-link" id="scrollArea" ng-controller="ScrollCtrl">
				<a href="<%=writereview_path %>" class="write">Write Review</a>
				<a ng-click="gotoElement('review-details')" href="#" class="read">Read Reviews</a>
			</div>			
			<h4>Featured Roofs nearby your location</h4>
			<div class="carousel slide" id="carousel-411046">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-411046">
					</li>
					<li data-slide-to="1" data-target="#carousel-411046">
					</li>
					<li data-slide-to="2" data-target="#carousel-411046">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%=image_tag ('featured-2.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								Sai Baba Pg
							</h4>
							<p>
								House No. 34, Balaji Layout, Bellandur Gate,Sarjapura Road, Bangalore,India
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag ('featured-1.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								Sai Baba Pg
							</h4>
							<p>
								House No. 34, Balaji Layout, Bellandur Gate,Sarjapura Road, Bangalore,India
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag ('featured-3.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								Sai Baba Pg
							</h4>
							<p>
								House No. 34, Balaji Layout, Bellandur Gate,Sarjapura Road, Bangalore,India
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>	
<div class="container review" ng-controller="reviewController">
 	<h3>Reviews by the User</h3>
 	<div class="col-md-12 review-wrapper" ng-repeat="reviewDetail in reviewDetails | limitTo:quantity" id="review-details">
 		<div class="col-md-1">
 			<img ng-src='{{reviewDetail.user_images}}'class="img-responsive"/>
 		</div>
 		
		<div class="col-md-11">
		<p><a href="#" ng-click="gotoFollower(reviewDetail.user)">{{reviewDetail.user}}</a> &nbsp;| Followers ({{reviewDetail.followers}})</p>
 		<p>{{reviewDetail.wrev.likes}}</p>
       
			<a href="#" ng-click="gotolikes(reviewDetail.wrev.id)"><i class="fa fa-thumbs-up"></i>&nbsp;like</a>&nbsp; {{reviewDetail.likes}}
			
            
			<a href="#" ng-click="gotodislikes(reviewDetail.wrev.id)"  style="margin-left:1%;"><i class="fa fa-thumbs-down"></i>&nbsp;Dislike </a>&nbsp; {{reviewDetail.dislikes}}
			<a href="#" style="margin-left:1%;" ng-click="commentbox = ! commentbox"><i class="fa fa-comment"></i>&nbsp;Comment</a>
			<a href="#" style="margin-left:1%;"><i class="fa fa-check"></i>&nbsp;Recommend</a>
			<input type="text" class="form-control" ng-show="commentbox" style="width:32%;margin-top:1%;"/>
		</div>
	</div>
	<a href="<%=review_path%>">More Reviews &nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
</div>		
<div class="modal fade pg-modal-lg" id="modal-container-876258" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					X
				</button>
				<h4 class="modal-title" id="myModalLabel">
					More Photos
				</h4>
			</div>
			<div class="col-md-12 modal-body">
				<div class="carousel slide" id="carousel-411046">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#carousel-411046">
						</li>
						<li data-slide-to="1" data-target="#carousel-411046">
						</li>
						<li data-slide-to="2" data-target="#carousel-411046">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<%=image_tag ('featured-2.jpg'),:class=>"img-responsive" %>
						</div>
						<div class="item">
							<%=image_tag ('featured-1.jpg'),:class=>"img-responsive" %>
						</div>
						<div class="item">
							<%=image_tag ('featured-3.jpg'),:class=>"img-responsive" %>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="modal-footer">
				<a href="#" class="pull-left" style="font-size:16px;"><strong>Write Review</strong></a>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button> 
			</div>
		</div>
	</div>
</div>