<div class="col-md-12 search-box" ng-controller="filterController">	
	<form class="form-inline text-center" role="form">
		<div class="form-group inline-form-grp">
		<label for="location">Location:</label>
			<input type="text" class="form-control" data-provide="typeahead" id="name" autocomplete="off" value=location_id>
		</div>
		<div class="form-group inline-form-grp">
			<!-- <label for="location">Gender:</label>
			<select class="form-control">
				<option>
					Male
				</option>
				<option>
					Female
				</option>
			</select> -->
			<label for="location">Gender:</label>
			<select name="gender" ng-model="user.gender" ng-options="gender.id as gender.desc for gender in genders" class="form-control">
				<option value="">Please select one option</option>
			</select>
		</div>
		<div class="form-group inline-form-grp">
			<label for="location">Price Range:</label>
			<select name="range" ng-model="user.range" ng-options="range.id as range.desc for range in ranges" class="form-control">
				<option value="">Please select one option</option>
			</select>
		</div>
		<div class="form-group" style="margin-top:1%;">
			<button type="submit" class="btn" ng-click="searchResult()">Search PG</button>
		</div>
	</form>
</div>
<div class="col-md-12" style="margin-top:3%;margin-bottom:3%;" ng-controller="filterPgController">
    <div class="col-md-2" style="height:100%;"> 
		<div class="col-md-12 col-xs-6"> 
    		<h4>Sort By</h4>       
        	<div ng-repeat="type in sortGroup">
            	<label class="checkbox-inline">
            		<input type="checkbox" ng-model="type.checked" ng-click="getresultbyfood(type.id,type.groupid)"/>{{type.type}}
            	</label>
       	 	</div>
    	</div>
  	
		<div class="col-md-12 col-xs-6"> 
	    	<h4>Sharing</h4>       
	        <div ng-repeat="share in shareGroup">
	            <label class="checkbox-inline">
	           	 	<input type="checkbox" ng-model="share.checked" ng-click="getresultbyfood(share.id,share.groupid)" />{{share.type}}
	           	</label>
	        </div>
	    </div>
    
    	

	    </div>
    
	<div class="col-md-10 pg-details-list" ng-repeat="pgDetail in filteredPg">		
		<div class="col-md-12 col-xs-12 col-sm-6" ng-repeat="pgdetail in pgDetail.wrev">
			<a href="#" ng-click="gotoDetails(pgdetail.id)">
				<div class="col-md-3">
				<!-- <a href="<%=details_path%>" target="_blank"></a>-->
					<%= image_tag ('featured-2.jpg'),:class=>"img-responsive" %>
				</div>
				<h4 class="{{pgdetail.gender}}">Sharing PG For {{pgdetail.gender}}</h4>
				<div class="col-md-6 no-padding">
					<div class="pg-name">
						<label>Name</label>
						<p>{{pgdetail.pgname}}</p>
					</div>
					<div class="address">
						<label>Address</label>
						<p>{{pgdetail.pgadress}}</p>
					</div>
				</div>
				<div class="col-md-3 no-padding">
					<div class="rent pull-left">
						<label>Rent</label>
						<div class="amount">
							<span>{{pgdetail.price}}<sub>per month</sub></span>
						</div>
					</div>
					<div class="deposit pull-right">
						<label>Security Deposit</label>
						<div class="security-amount">
							<span>{{pgdetail.secdeposit}}</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="time">
						<p>{{pgdetail.postdate}}</p>
					</div>
					<div class="review-link">
						<a href="#" class="write">Write Review</a>
						<a href="#" class="read">Read Reviews</a>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
	$("#owl-suggested-featured").owlCarousel({
	    navigation: true,
	    items: 1,
	    navigationText: [
	      "<i class='fa fa-chevron-left icon-white'></i>",
	      "<i class='fa fa-chevron-right icon-white'></i>"
	      ],
	});
</script>