<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h3>Rate Your Experience</h3>
		<%= form_for (@writereview), url: createreview_path(@writereview),:class=>"form-horizontal",method: :post ,:html => { :multipart => true } do |f|  %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		
		
			<div class="form-inline">
				<div class="form-group">
				    <label for="clean">Cleanliness</label>
				    <%= f.select(:clean, [['1', 1], ['1.5', 2], ['2',3],['2.5',4],['3',5],['3.5',6],['4',7],['4.5',8],['5',9]],{},{ :class => "form-control"}) %>
				</div>
				<div class="form-group">
				    <label for="clean">Food</label>
				    <%= f.select(:food, [['1', 1], ['1.5', 2], ['2',3],['2.5',4],['3',5],['3.5',6],['4',7],['4.5',8],['5',9]],{},{ :class => "form-control"}) %>
				</div>
				<div class="form-group">
				    <label for="clean">Locality</label>
				    <%= f.select(:locality, [['1', 1], ['1.5', 2], ['2',3],['2.5',4],['3',5],['3.5',6],['4',7],['4.5',8],['5',9]],{},{ :class => "form-control"}) %>
				</div>
				<div class="form-group">
				    <label for="clean">Owner Behavior</label>
				     <%= f.select(:behavior, [['1', 1], ['1.5', 2], ['2',3],['2.5',4],['3',5],['3.5',6],['4',7],['4.5',8],['5',9]],{},{ :class => "form-control"}) %>
				</div>
				<div class="form-group">
				    <label for="clean">PG Amenities(Eg: WiFi,Fridge,Washing Machine etc.)</label>
				    <%= f.select(:amenity, [['1', 1], ['1.5', 2], ['2',3],['2.5',4],['3',5],['3.5',6],['4',7],['4.5',8],['5',9]],{},{ :class => "form-control"}) %>
				</div>
			</div>
			<div class="form-group">
				<label for="like">
					What do you like about the PG
				</label>
				<%= f.text_area(:likes, rows: 5, :class => 'form-control') %>
			</div>
			<div class="form-group">
				<label for="dislike">
					What do you dislike about the PG
				</label>
				<%= f.text_area(:dislikes, rows: 5, :class => 'form-control') %>
			</div>
			<div class="form-group">
				<label for="comment">
					Additional comments
				</label>
				<%= f.text_area(:comment, rows: 5, :class => 'form-control') %>
			</div>
			<%= f.submit "Submit", :class => "btn btn-primary center-block",:style=>"margin-bottom:3%" %>
		<% end %>
	</div>
</div>