<div class="container">
  <div class="col-md-12">  
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'form' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email%>
        <%= f.email_field :email, autofocus: true,:class=>'form-control',:style=>"width:50%" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off",:class=>'form-control',:style=>"width:50%" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control',:style=>"width:50%" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off",:class=>'form-control',:style=>"width:50%" %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Update",:class=>'btn btn-primary' %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:class=>'btn btn-danger' %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
