<%= form_for @relationship do %>
     <%= hidden_field_tag :followed_id, @otheruser.id %>
     <%= hidden_field_tag :name, @otheruser.username %>
     <%= submit_tag "Follow" ,class: "btn btn-primary" %>
 <% end %>