<div class="container" style="margin-top:3%;margin-bottom:3%;" ng-controller="FollowerController">
	<div class="col-md-12">
		<div class="col-md-3" ng-repeat="followerProfileDetail in followerProfileDetails">
			<img ng-src="/assets/{{followerProfileDetail.reviewerImage}}" class="img-responsive img-circle">
			<div class="follower-name"><strong>{{followerProfileDetail.reviewer}}</strong></div>
			<div class="follower-caption">{{followerProfileDetail.caption}}</div>
			<div class="follower-rating">{{followerProfileDetail.title}}</div>
			<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
			<button type="button" class="btn btn-primary">Follow</button>
			<button type="button" class="btn btn-danger">Unfollow</button>
			<div class="col-md-12 no-padding">
				<ul class="list-unstyled follower-details" ng-repeat="followerCategory in followerCategories">
					<li><a href rollver ng-click="select(followerCategory)">{{followerCategory}}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-7">
			<div class="col-md-12 no-padding" id="review" ng-show="divShow == 'Reviews'">
				<h3>Reviews by the user</h3>
				<div ng-repeat="followerDetail in followerDetails">
					<div class="choice-name">
						<strong>{{followerDetail.choicename}}</strong>
					</div>
					<div class="choice-location">
						{{followerDetail.choicelocation}}
					</div>
					<div class="post-date">
						{{followerDetail.postdate}}
					</div>
					<div class="review">
						<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
						<p class="text-justify">{{followerDetail.reviewtext}}</p>
					</div>
				</div>
			</div>
			<div class="col-md-12 no-padding" id="followers" ng-repeat="followerProfileDetail in followerProfileDetails" ng-show="divShow == 'Followers'">
				<div class="col-md-1 no-padding">
					<img ng-src="/assets/{{followerProfileDetail.reviewerImage}}" class="img-responsive img-circle">
				</div>
				<div class="col-md-6">
					<div>{{followerProfileDetail.reviewer}} | Followers ({{followerProfileDetail.reviewerFollower}}) </div>
					<div> Reviews({{followerProfileDetail.reviewsInTotal}}) | <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-primary">Follow</button>
				</div>
			</div>
			<div class="col-md-12" ng-show="divShow == 'Photos'">
				<div class="col-md-4" ng-repeat="photo in photos">
					 <a id="modal-{{photo.image}}" href="#modal-container-{{photo.image}}" role="button" data-toggle="modal"><img ng-src="/assets/{{photo.image}}.jpg" class="img-responsive center-block"style="height:102px;"/></a>
				</div>
			</div>
		</div>
		<div class="col-md-2 no-padding" ng-show= "divShow=='Photos'" ng-repeat="suggestedFollowerProfileDetail in suggestedFollowerProfileDetails">
			<h4>Suggested Followers</h4>
			<div class="col-md-12 no-padding">
				<div>{{suggestedFollowerProfileDetail.reviewer}} | Followers ({{suggestedFollowerProfileDetail.reviewerFollower}})</div>
				<div> Reviews({{suggestedFollowerProfileDetail.reviewsInTotal}}) | <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
			</div>
			<div class="col-md-12 no-padding">
				<button type="button" class="btn btn-primary">Follow</button>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-container-{{photo.image}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-repeat="photo in photos">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						X
					</button>
				</div>
				<div class="modal-body">
					<img ng-src="/assets/{{photo.image}}.jpg" class="img-responsive center-block"/>
					<div class="modal-caption">
						{{photo.caption}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
