<div class="container" style="margin-top:3%;margin-bottom:3%;" ng-controller="FollowerController">
	<div class="col-md-12">
		<div class="col-md-3" ng-repeat="followerProfileDetail in followerProfileDetails">
			<img ng-src="/assets/{{followerProfileDetail.reviewerImage}}" class="img-responsive img-circle">
			<div class="follower-name"><strong><%= @otheruser.username %></strong></div>
			<div class="follower-caption"></div>
			<div class="follower-rating">{{followerProfileDetail.title}}</div>
			<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
			<% if current_user and @otheruser != current_user %>
			<% if current_user.following?(@otheruser) %>
               <%= render 'unfollow' %>
            <% else %>
               <%= render 'follow' %>
            <% end %>
			<% end %>
			<div class="col-md-12 no-padding">
				<ul class="list-unstyled follower-details" ng-repeat="followerCategory in followerCategories">
					<li><a href rollver ng-click="select(followerCategory)">{{followerCategory}}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-7">
			<div class="col-md-12 no-padding" id="review" ng-show="divShow == 'Reviews'">
				<h3>Reviews by the user</h3>
				<div>
					<% @reviews.each do |h| %>
  			          <div class="choice-name">
						<strong><%= h.likes %></strong>
					</div>
					<div class="choice-location">
						<strong><%= h.likes %></strong>
					</div>
					<div class="post-date">
						<strong><%= h.created_at.strftime("Posted on %b %d, %Y") %></strong>
					</div>
					<div class="review">
						<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
						<p class="text-justify"></p>
					</div>
					<% end %>
				</div>

  			 
			</div>
			<div class="col-md-12 no-padding" id="followers" ng-repeat="followerProfileDetail in followerProfileDetails" ng-show="divShow == 'Followers'">
				<% @otheruser.followers.each do |h| %>
				<div class="col-md-1 no-padding">
					<img ng-src="<%=h.user_images%>" class="img-responsive img-circle">
				</div>
				<div class="col-md-6">
					<div><%= h.username %> | Followers (<%= h.followers.count %>) </div>
					<div> Reviews(<%= h.write_reviews.count %>) | <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
				</div>
				<div class="col-md-6">
					<% if current_user and h != current_user  %>
					<% if current_user.followeds?(h) %>
					<button type="button" class="btn btn-danger">Unfollow</button>
					<% else %>
					<button type="button" class="btn btn-primary">Follow</button>
					<% end %>
					<% end %>
				</div>
			</div>
			<% end %>
			<div class="col-md-12" ng-show="divShow == 'Photos'">
				<div class="col-md-4" ng-repeat="photo in photos">
					 <a id="modal-{{photo.image}}" href="#modal-container-{{photo.image}}" role="button" data-toggle="modal"><img ng-src="/assets/{{photo.image}}.jpg" class="img-responsive center-block"style="height:102px;"/></a>
				</div>
			</div>
		</div>
		<div class="col-md-2 no-padding" ng-show= "divShow=='Photos'" ng-repeat="suggestedFollowerProfileDetail in suggestedFollowerProfileDetails">
			<h4>Suggested Followers</h4>
			<div class="col-md-12 no-padding">
				<div>{{suggestedFollowerProfileDetail.reviewer}} | Followers ({{suggestedFollowerProfileDetail.reviewerFollower}})</div>
				<div> Reviews({{suggestedFollowerProfileDetail.reviewsInTotal}}) | <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
			</div>
			<div class="col-md-12 no-padding">
				<button type="button" class="btn btn-primary">Follow</button>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-container-{{photo.image}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-repeat="photo in photos">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						X
					</button>
				</div>
				<div class="modal-body">
					<img ng-src="/assets/{{photo.image}}.jpg" class="img-responsive center-block"/>
					<div class="modal-caption">
						{{photo.caption}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
