<div class="container" style="height:650px;">
	<div class="col-md-12">	
		<h2>Forgot your password?</h2>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true,:class=>"form-control",:style=>"width:50%" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions",:class=>"btn btn-primary" %>
		  </div>
		<% end %>
	</div>
</div>
