<div class="container" style="margin-top:10%;margin-bottom:5%;">
	<p class="text-center">Please enter your phone number to complete the registration process</p>
	<div class="col-md-6 col-md-offset-3" style="margin-top:1%;margin-bottom:12%;">	
    <%= form_for (@user), url: create_path(@user) ,:class=>"form-horizontal",method: :post do |f|  %>
      <%= f.hidden_field :id, :value => current_user.id %>
      <div class="form-group">
        <%= f.label :PhoneNumber ,:class=>"control-label col-sm-3 "%>
        <div class="col-sm-8">
          <%= f.text_field :phno, autofocus: true, :class => "username-input form-control"%>
        </div>
      </div> 
      <div class="clearfix"></div>
      <div class="form-group text-center" style="margin-top:2%">
          <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
    <% end %>
	</div>
</div>