<div class="col-md-12">
  <div class="col-md-5 popup-content">
    <div class="login-page">
        <div class="row">
            <div class="col-md-12">
                <div class="login-form">
                    <div class="login-title">
                      <span class="icon"><i class="glyphicon glyphicon-user"></i></span>
                      <span class="text">Login Area</span>
                    </div><!-- End Title -->
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                <%= f.email_field :email, :id => "login_username" ,:class => "username-input form-control", :placeholder => "Email", autofocus: true %>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                  <%= f.password_field :password, :id => "login_password", :class => "password-input form-control", :placeholder => "Password", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group clearfix">
                                   <%= f.submit "Log in" , :id => "login_submit", :class => "submit-input btn btn-primary center-block"%>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 clearfix">
                                <div class="custom-checkbox fl">
                                    <input type="checkbox" id="login_remember" class="checkbox-input" checked="">
                                    <label for="login_remember">Remember Password</label>
                                </div>
                            </div><!-- end remember -->
                            <div class="col-md-6 col-sm-6 clearfix">
                                <div class="forgot fr">
                                  <%= render "devise/shared/links" %>
                                </div>
                            </div><!-- end forgot password -->
                        </div><!-- end row -->
                    <% end %><!-- End form -->
                </div><!-- end login form -->
                <div class="login-options">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <a href="#" class="login-op-btn grad-btn ln-tr fb">Login with Facebook Account</a>
                        </div><!-- end FB login -->
                        <div class="col-md-6 col-sm-6">
                            <a href="#" class="login-op-btn grad-btn ln-tr gp">Login with Google Account</a>
                        </div><!-- end GP login -->
                    </div>
                </div><!-- end login optionss -->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->
    </div><!-- End Login Page -->
  </div>
  <div class="col-md-5 col-md-offset-1 popup-content">
    <div class="login-page">
        <div class="row">
            <div class="col-md-12">
                <div class="login-form">
                    <div class="login-title">
                        <span class="icon"><i class="glyphicon glyphicon-user"></i></span>
                        <span class="text">SignUp Area</span>
                    </div><!-- End Title -->
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                       <%= devise_error_messages! %>
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                            <%= f.email_field :email, :id => "signup_email" ,:class => "username-input form-control", :placeholder => "Email", autofocus: true %>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <% if @minimum_password_length %>
                                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                                  <% end %>
                              <%= f.password_field :password, :id => "signup_password", :class => "password-input form-control", :placeholder => "Password", autocomplete: "off" %>
                            </div>  
                          </div>
                          <div class="col-md-6 col-sm-6">      
                            <div class="form-group">
                              <%= f.password_field :password_confirmation, :id => "signup_confpassword", :class => "password-input form-control", :placeholder => "Confirm Password", autocomplete: "off" %>
                            </div>
                          </div> 
                          <div class="col-md-6 col-sm-6">      
                            <div class="form-group">
                              <%= f.text_field :phno, :id => "signup_phone", :class => "password-input form-control", :placeholder => "Phone Number", autocomplete: "off" %>
                            </div>
                          </div> 
                          <div class="col-md-12">
                              <div class="form-group clearfix">
                                 <%= f.submit "Sign Up" , :id => "login_submit", :class => "submit-input btn btn-primary center-block"%>
                              </div>
                          </div>
                        </div><!-- end row -->
                    <% end %>
                </div><!-- end login form -->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->
    </div><!-- End Login Page -->
  </div>
</div>
