<%= form_for (@writerestreview), url: createrestreview_path(@writerestreview),:class=>"form-horizontal",method: :post ,:html => { :multipart => true } do |f|  %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 col-sm-12" style="margin-top:2%;">
          <h3 class="review-heading-top text-center">We greatly appreciate your review so that we can better serve you!</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12" style="margin-top:2%;">
        <div class="col-md-10 col-md-offset-1">
          <h4 class="text-center review-heading">How would you rate the following?</h4>
          <p class="text-center review-sub-heading">Quality of Food</p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:2%;">
      <div class="col-md-12 col-sm-12 col-sm-offset-2 radio_position" style="margin-left:3%;">
        <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-6">
          <label class="radio-inline radio-btn" for="option2"></label>
          <%= f.radio_button :Quality, 'Excellent' %> Excellent
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option2"></label>
          <%= f.radio_button :Quality, 'VeryGood' %> Very Good
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option2"></label>
          <%= f.radio_button :Quality, 'Good' %> Good
        </div>

        <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-6 col-xs-offset-0 no-margin">
          <label class="radio-inline radio-btn" for="option2"></label>
          <%= f.radio_button :Quality, 'Average' %> Average
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option2"></label>
          <%= f.radio_button :Quality, 'Poor' %> Poor
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12" style="margin-top:2%;">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center review-sub-heading">Service Standards</p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:2%;">
      <div class="col-md-12 radio_position" style="margin-left:3%;">
        <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-6">
          <label class="radio-inline radio-btn" for="option3"></label>
          <%= f.radio_button :ServiceStandards, 'Excellent' %> Excellent
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option3"></label>
          <%= f.radio_button :ServiceStandards, 'VeryGood' %> Very Good
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option3"></label>
          <%= f.radio_button :ServiceStandards, 'Good' %> Good
        </div>

        <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-6 no-margin">
          <label class="radio-inline radio-btn" for="option3"></label>
          <%= f.radio_button :ServiceStandards, 'Average' %> Average
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <label class="radio-inline radio-btn" for="option3"></label>
          <%= f.radio_button :ServiceStandards, 'Poor' %> Poor
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12" style="margin-top:2%;">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center review-sub-heading">Ambience</p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:2%;">
      <div class="col-md-12 radio_position" style="margin-left:3%;">
        <div class="col-md-2  col-sm-3 col-sm-offset-1 col-xs-6">
          <label class="radio-inline radio-btn" for="option4"></label>
            <%= f.radio_button :Ambience, 'Excellent' %> Excellent
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option4"></label>
          <%= f.radio_button :Ambience, 'VeryGood' %> Very Good
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option4"></label>
          <%= f.radio_button :Ambience, 'Good' %> Good
        </div>

        <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-6 no-margin">
          <label class="radio-inline radio-btn" for="option4"></label>
          <%= f.radio_button :Ambience, 'Average' %> Average
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
          <label class="radio-inline radio-btn" for="option4"></label>
          <%= f.radio_button :Ambience, 'Poor' %> Poor
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12" style="margin-top:2%;">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center review-sub-heading">Why did you choose the Restaurant</p>
        </div>
      </div>
      <div class="col-md-10 custom-position" style="margin-top:2%;margin-left:11%;">
        <div class="col-md-4">
          <label class="radio-inline label_custom" for="option5"></label>
          <%= f.radio_button :Reason, 'QualityFood' %> Quality of food and Service
        </div>
        <div class="col-md-4">
          <label class="radio-inline label_custom" for="option5"></label>
          <%= f.radio_button :Reason, 'money' %> Value for money
        </div>
       <div class="col-md-4">
          <label class="radio-inline label_custom" for="option5"></label>
          <%= f.radio_button :Reason, 'AmbienceAndExp' %> Ambience &amp; Experience
        </div>
        <div class="col-md-4">
          <label class="radio-inline label_custom" for="option5"></label>
          <%= f.radio_button :Reason, 'convinient' %> Convinient to reach
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container" style="margin-top:2%;">
      <div class="col-md-6 col-md-offset-2 no-padding">
        <label for="name">Additional Comments</label>
        <%= f.text_area :comments,:class=>"form-control" ,:rows=>"5"%>
      </div>
    </div>
      
    <div class="container">
      <div class="col-md-12" style="margin-top:2%;">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center review-sub-heading">Profile</p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-bottom:40px;">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
          <label for="name">Name</label>
          <%= f.text_field :name,:class=>"form-control" %>
        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
          <label for="age">Age</label>
          <%= f.text_field :age,:class=>"form-control" %>
        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
          <label for="email">Email</label>
          <%= f.email_field :email,:class=>"form-control" %>
        </div>
        <div class="clearfix"></div>
        <%= f.submit "Submit", :class =>"btn btn-primary btn-lg center-block",:style=>"margin-top:3%" %>
      </div>
    </div>
<% end %>