<div class="container">	
	<div class="col-md-12">
		<h3><%=@restresult.restname%></h3>
		<div class="col-md-7 no-padding">
			<div class="col-md-12 no-padding">
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-1.jpg"), :class=>"img-responsive" %>
				</div>
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-2.jpg"), :class=>"img-responsive" %>
				</div>
				<div class="col-md-4" style="padding-right:5px;padding-left:5px;">
					<%=image_tag ("featured-2.jpg"), :class=>"img-responsive" %>
				</div>
			</div>
			<a id="modal-876258" href="#modal-container-876258" role="button" class="btn" data-toggle="modal" data-target=".pg-modal-lg">Show more Photos&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
			<div class="col-md-12">
				<h4>Additional Information</h4>
				<div class="col-md-5 amenities" id="rest_details">
					<div class="amenty_list details_label">
						<label>Work Hours</label>
						<p><%=@restresult.work_hours%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Work Days</label>
						<p><%=@restresult.work_days%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Add Comment</label>
						<p><%=@restresult.add_comment%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Pre Booking</label>
						<p><%=@restresult.pre_booking%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Buffet Available</label>
						<p><%=@restresult.buffet_avail%></p>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 amenities" id="rest_details">
					<div class="amenty_list details_label">
						<label>Buffet Price</label>
						<% if @restresult.buffet_price.blank? %>
							<p>NA</p>
						<% else %>
							<p><%=@restresult.buffet_price%></p>
						<% end %>
					</div>
					<div class="amenty_list details_label">
						<label>Food Type</label>
						<% if @restresult.food_type.blank? %>
							<p>NA</p>
						<% else %>
							<p><%=@restresult.food_type%></p>
						<% end %>
					</div>
					<div class="amenty_list details_label">
						<label>Restaurant Type</label>
						<p><%=@restresult.resttype%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Food Categories</label>
						<p><%=@restresult.food_categories%></p>
					</div>
					<div class="amenty_list details_label">
						<label>Bar Available</label>
						<p><%=@restresult.bar_avail%></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-md-offset-1 pg-details-list">
			<div class="pg-name">
				<label>Restaurant Name</label>
				<p><%=@restresult.restname%></p>
			</div>
			<div class="pg-name">
				<label>Contact</label>
				<p><i class="fa fa-phone"></i>&nbsp;
					<span><%=@restresult.phone1%></span> |
					<span><%=@restresult.phone2%></span>
				</p>
			</div>
			<div class="address">
				<label>Address</label>
				<p><%=@restresult.restaddress%></p>
			</div>
			<div class="review-link" id="scrollArea" ng-controller="ScrollCtrl">
				<a href="<%=writerestaurantreview_path %>" class="write">Write Review</a>
				<a ng-click="gotoElement('review-details')" href="#" class="read">Read Reviews</a>
			</div>			
			<h4>Restaurant nearby your location</h4>
			<div class="carousel slide" id="carousel-411047">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-411047">
					</li>
					<li data-slide-to="1" data-target="#carousel-411047">
					</li>
					<li data-slide-to="2" data-target="#carousel-411047">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%=image_tag ('featured-2.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								XYZ
							</h4>
							<p>
								BTM
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag ('featured-1.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								XYZ
							</h4>
							<p>
								Koramanagala
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag ('featured-3.jpg'),:class=>"img-responsive",:style=>"width:100%;height:250px;" %>
						<div class="carousel-caption">
							<h4>
								XYZ
							</h4>
							<p>
								BTM 2nd Stage
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>	
		
<div class="modal fade pg-modal-lg" id="modal-container-876258" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					X
				</button>
				<h4 class="modal-title" id="myModalLabel">
					More Photos
				</h4>
			</div>
			<div class="col-md-12 modal-body">
				<div class="carousel slide" id="carousel-411046">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#carousel-411046">
						</li>
						<li data-slide-to="1" data-target="#carousel-411046">
						</li>
						<li data-slide-to="2" data-target="#carousel-411046">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<%=image_tag ('featured-2.jpg'),:class=>"img-responsive" %>
						</div>
						<div class="item">
							<%=image_tag ('featured-1.jpg'),:class=>"img-responsive" %>
						</div>
						<div class="item">
							<%=image_tag ('featured-3.jpg'),:class=>"img-responsive" %>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="modal-footer">
				<a href="<%=writerestaurantreview_path %>" class="pull-left" style="font-size:16px;"><strong>Write Review</strong></a>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button> 
			</div>
		</div>
	</div>
</div>