// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

form#new_search_result li{
	margin:20px;
	list-style:none;
}
form#new_search_result li label {
	display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
}
form#edit_search_result li label {
    display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
}
#main_content{
	background: #f4f4f4;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px #ddd;
    padding-top: 10px;

}
form#new_gym_search_result li{
	margin:20px;
	list-style:none;
}
form#new_gym_search_result li label {
	display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
}

form#new_salon_search_result li{
	margin:20px;
	list-style:none;
}
form#new_salon_search_result li label {
	display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
}
form#new_restaurant_search_result li{
	margin:20px;
	list-style:none;
}
form#new_restaurant_search_result li label {
	display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;

}