/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require flatui
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 *= require result
 *= require relationships
  *= require restaurants
 */
@font-face{font-family:"glyphicons";
src:url("img/glyphicons-halflings-regular.eot");
src:url("img/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'),
url("img/glyphicons-halflings-regular.woff") format('woff'),
url("img/glyphicons-halflings-regular.ttf") format('truetype'),
url("img/glyphicons-halflings-regular.svg") format('svg')
}
@font-face {
  font-family: "latoReg";
  src: url("Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.eot");
  src: url("fontawesome-webfont.eot?#iefix") format('eot'), url("fontawesome-webfont.woff") format('woff'), url("fontawesome-webfont.ttf") format('truetype'), url("fontawesome-webfont.svg" + "#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'latoReg';
}

a{
  outline: none;
 }
 .btn:hover, .btn:focus {
    color: #30c2a5;
  }
 .btn-link:hover,.btn-link:active,.btn-link:focus{
  text-decoration: none;
 }
.home-bg{
	margin-top: 4%;
	height: 530px;
	background-image:url('landing.png');
}
.side-icon{
	padding: 10px;
}
.title{
	margin-top: 40%;
}
.menubar{
	background-color: #e74c3c !important;	
}
.navigation li a{
	color: #fff !important;
}
.fixed{
	position: fixed !important;
	top: 0;
	z-index: 1;
	left: 0;
	padding: 0 !important;
	width: 100%;
}
.icon_placement{
	margin-top:5%;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #1abc9c;
}
.dialogbox .body {
  position: relative;
  margin: 20px 10px;
  padding: 5px;
  background-color: #1abc9c;
  border-radius: 3px;
  border: 5px solid #1abc9c;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.descp{
	margin-top: 2%;
	list-style: none;
	color: #fff;
}
.descp li:before{
	font-family: 'glyphicons';
	content: "\e013";
	margin-left: -20px;
    padding-right: 5px;
    font-size: 10px;
}
/* 19 - Login/Register */
#login-modal .container, #register-modal .container {
	max-width: 750px;
}
#login-modal .popup-content .login-page, #register-modal .popup-content .login-page {
	padding: 100px 0 0;
	background: none;
}
.modal .close-modal {
	display: block;
	width: 20px;
	height: 20px;
	text-align: right;
	color: #383c4b;
}
.modal .close-modal span {
	font-size: 18px;
	vertical-align: top;
}
/*.login-page {
	background: #f5f5f5;
	padding: 150px 0;
}*/
.login-page .login-form {
	margin-bottom: 30px;
}
.login-page .login-form .login-title .icon {
	margin-bottom: 10px;
}
.login-page .login-form .login-title .text {
	font: bold 18px 'Lato', sans-serif;
	color: #383c4b;
}
.login-page .login-form .input .submit-input,
.dark .login-page .login-form .input .submit-input {
	color: #fff;
	margin-bottom: 20px;
	border: 0;
	box-shadow: none;
}
.login-page .login-form .custom-checkbox label {
	font-size: 14px;
	font-weight: bold;
	color: #383c4b;
	cursor: pointer;
}
.login-page .login-form, .login-page .login-options {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.login-page .login-form .login-title .icon {
	background: #383c4b;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 1px;
	color: #fff;
	font-size: 18px;
	margin-right: 6px;
	margin-bottom: 24px;
}
.username-input,.password-input {
  border-radius: 2px !important;
}
.custom-checkbox:not(#foo) .checkbox-input {
  position: absolute;
  opacity: 0;
}
.submit-input{
	width: 100%;
}
.custom-checkbox:not(#foo) .checkbox-input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.custom-checkbox:not(#foo) .checkbox-input + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 22px;
  height: 22px;
  background: #d7d8db;
  border-radius: 1px;
}
.custom-checkbox:not(#foo) .checkbox-input:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 15px;
  background: white;
  width: 4px;
  height: 4px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -3px 0 white, 4px -8px 0 white, 4px -6px 0 white;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login-page .login-form .forgot a {
  font-size: 14px;
  color: #5a5e6a;
}
.login-page .login-form .forgot .reset {
  color: #ff0000;
}

.login-page .login-options .login-op-btn.fb {
  background-image: url(login-facebook-icon.png);
  background-color: #5d82d1;
}
.login-page .login-options .login-op-btn {
  background-position: right bottom;
  background-repeat: no-repeat;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 14px 13px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: none;
}
.login-page .login-options .login-op-btn.gp {
  background-image: url(login-google-icon.png);
  background-color: #eb5e4c;
}
.filter{
	/*background-color: #e74c3c;*/
}
.highlight{
  color:#e74c3c;
}
.inline-form-grp{
	margin-top: 4%;
	margin-left: 1%;
}
.bg-services{
	background-color: #e74c3c;
	color: #fff;
}
.footer{
	color:#fff;
}
.bg-about{
	background-color: #1abc9c;/*#e74c3c*;*/
	margin-top: 3%;
	padding: 5%;
}
.aboutus,.heading-1{
	color: #fff !important;
}
figcaption{
	font-size: 20px;
}
#owl-demo .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
//To move navigation buttons outside use these settings:
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 100px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 100px;
}
 
/*.item img{
	height: 167px;
}*/
#owl-featured .item{
	display: block;
	padding: 30px 0px;
	margin: 5px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-buttons i{
  margin-top: 1px;
}

/*To move navigation buttons outside use these settings:*/

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/glyphicons-halflings-green.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
/* White icons with optional class, or on hover/focus/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("img/glyphicons-halflings-white.png");
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.hideme{
	opacity: 0;
}
.optactive{
	background-color: #e74c3c;
	color: #fff;
	text-decoration: none;
}
#amenity,#service,#nearby{
  min-height: 280px;
  overflow: scroll;
  height: 280px;
}

.review{
  position:relative;
  margin-bottom:5%;
}
.review-wrapper{
  margin-bottom:2%;
}
#new_write_review select.form-control{
    height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.pg-details-list > div {
  margin-bottom: 2%;
}

/*-----------------------------------------------------*/

#sync1 .item{
    margin: 5px;
}
#sync2 .item{
    margin: 5px;
    cursor: pointer;
}
#sync1.owl-theme .owl-controls .owl-buttons .owl-prev,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next{
  display: none;
}
@media all and (min-width: 992px){
  .no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;  
  }
}
@media all and (max-width: 991px){
	.home-bg{
		height: auto;
		background-size: contain;
		padding: 10px;
	}
	.descp{
		margin-top: 2%;
	}
}
@media (min-width: 768px){
	.modal-dialog {
	  width: 700px;
	}
  #write-review .form-inline .form-group {
    margin-right: 1%;
  }
}


/*------------------------------Write Review CSS -------------------*/

.review-heading-top:before{
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  left: 36%;
  bottom: -14%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.review-sub-heading{
  color: #e74c3c;
  font-size: 18px;
  margin-top: 4%;
  text-decoration: underline;
}