// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follower-name,.choice-name{
	font-size:20px;
}
.follower-caption,.follower-rating,.choice-location,.post-date{
	color:#ABB7B7;
	font-size:16px;
}
.follower-rating i{
	color:#1abc9c;
}	
.follower-name,.follower-caption,.follower-rating{
	margin:2%;
}
.follower-details li{
	margin:3%;
}
.follower-details li a{
	font-size:16px;	
}
.fa-star,.fa-star-half{
  color: #1abc9c;
}
.modal-caption{
  position: absolute;
  bottom: 15px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  width: 95.5%;
  padding: 25px;
  text-align: center;
}