// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rest_details{
  min-height: 470px;
  overflow: scroll;
  height: 470px;
  margin-bottom: 5%;
}
.details_label{
  line-height: 1;
  color: #ABB7B7;
}