input[type=checkbox], input[type=radio] {
  margin-top: 12px;
}
.checkbox-inline,.checkbox-inline+.checkbox-inline{
	margin-right:5px;
	margin-left:0;
}
p,span{
	color:#34495e !important;
}
.pg-details-list{
	margin-bottom:5%;
}
.pg-details-list label{
	line-height:1;
	color:#ABB7B7;
}
.rent{
	border-right: 1px solid #ccc;
    padding-right: 2%;
    width: 122px;
}
.inline-form-grp{
	margin-top:1%;
}
.search-box{
	border-bottom: 1px solid #ccc;
    padding-bottom: 1%;
    box-shadow: 0px 1px 1px #ccc;
}
.sort_by{
	padding-right:6px;
}
.Male,.Female{
	margin-top: 0;
}
.Male{
	color: #1abc9c;
}
.Female{
	color: #e74c3c;
}
.deposit{
	margin-right:13%;
}
.write{
	border-right:1px solid #ccc;
}
.write,.read{
	padding-right:2.5%;
	font-size:16px;
}
.time{
	margin-top:3%;
	color:#ABB7B7;
}
.pg-description{
	text-align:justify;
}
.amenty_list,.sharing_list,.nearby li{
	padding:12px;
	border-bottom:1px solid #ececec;
}
.amenities,.services,.nearby{
	background-color:#F8F8F8;
	box-shadow: 0 1px 1px #ececec;
	border-bottom:2px solid #1abc9c;
}
@media (max-width: 991px){
	.Male,.Female{
		margin-top: 5%;
		padding-left: 3%;
	}
}
@media (max-width: 768px){
	.deposit {
    	margin-right: 42%;
	}
}